body{
    background-image: linear-gradient(70deg, #FF4040, #FF7676);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo-card{
    background-image: linear-gradient(to bottom, #40CBD4, white);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.fondo-cardi{
    background-image: linear-gradient(to bottom, #1AA2AF, white);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.img-round{
    border-radius: 50%;
    border: 3px solid #1AA2AF;
    background-color: white;
}
.fondo-nav{
    background-color: #DA1E2D;
    border-bottom: 5px solid black;
}
.myModal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #DA1E2D;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 15px;
    outline: 0;
}
.contenedor{
    padding: 1%;
}
.tarjeta-encabezado{
    background-color: #DA1E2D;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}